h1, h3, p {font-family: "Fantasque Sans Mono Regular";}
h6 {font-size: 50px; font-family: "Fantasque Sans Mono Bold";line-height: 50px;}
h2 {font-family: "Fantasque Sans Mono Bold";}
h4 {font-family: "Fantasque Sans Mono Italic";}
p {font-size: 30px;}
h3 {font-size: 98px;}
h5 { font-family: "Fantasque Sans Mono BoldItalic";}
caption {font-family: "Fantasque Sans Mono BoldItalic"; margin-bottom: 20px;}
